#draggable {
    width: 200px;
    height: 150px;
    text-align: center;
    padding-top: 30px;
}
/*end1*/
#draggable2 { width: 100px; height: 100px; padding: 0.5em;}
#droppable2 { width: 150px; height: 150px; padding: 0.5em;}
/*end2*/
#resizable { width: 150px; height: 150px; padding: 0.5em; }
#resizable h3 { text-align: center; margin: 0; }
/*end3*/
#feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #24ec1d; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 100%; text-align: center;}
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 50px;}
  /*end4*/
  #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; text-align: center;}
  #sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 50px; }
  #sortable li span { position: absolute; margin-left: -1.3em; }
  /* end 5 */
  
  #accordion img{
      width: 100px;
      height: 100px;
  }
  /* 13 */
  .toggler { width: 300px; height: 200px; position: relative; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 240px;  padding: 1em; border: 1px solid #000; background: #eee; color: #333; }
  .newClass { text-indent: 40px; letter-spacing: .4em; width: 410px; height: 120px; padding: 30px; margin: 10px; font-size: 1.1em; }
  /*14*/
  .toggler { width: 500px; height: 200px; position: relative; }
  #button { padding: .5em 1em; text-decoration: none; }
  #effect { position: relative;  width: 240px;  padding: 1em;  letter-spacing: 0; font-size: 1.2em; border: 1px solid #000; background: #eee; color: #333; }
  .newClass { text-indent: 40px; letter-spacing: .4em; width: 410px; height: 100px; padding: 30px; margin: 10px; font-size: 1.6em; }